extends layout

block content
  //- a(href='https://github.com/anders94/blockchain-demo/')
  //-   img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    //- h1 Blockchain Demo

    <div class="name-user">
    <h2>Thành viên Nhóm 10</h2>
    <hr/>
    <h3>Nguyễn Đức Long - AT160429</h3>
    <h3>Phạm Minh Quang - AT160438</h3>
    <h3>Nguyễn Thị Trà My - AT160630</h3>
    <img class="image-demo-block-chain" src="https://8486ff541a.vws.vegacdn.vn/UploadImages/haiphong/mnviettien/2023_4/12/anh-12_124202314.jpg?w=400"/>
    </div>
    //- .embed-responsive.embed-responsive-16by9
    //-   iframe.embed-responsive-item(src='https://www.youtube.com/embed/_160oMzblY8')
    //- br
    //- p.pull-right by 
    //-   a(href='http://andersbrownworth.com/') Anders Brownworth 
    //-   | 1K3NvcuZzVTueHW1qhkG2Cm3viRkh2EXJp
